DEBUG=1
SECRET_KEY=foo
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=izi_hrm_dev
SQL_USER=izi_hrm
SQL_PASSWORD=izi_hrm
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres
